.search-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#searchInput {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}