# Dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Editor directories
.val/
.vscode/
.idea/

# Build outputs
dist/
build/
.next/
out/

# Temp
tmp/
*.ps1
*.py
.env

